<%= render "shared/header" %>
<div class="main">
  <div class="fav_new_form">
    <%= form_with model: [@user, @favorite], local: true do |f| %>
      <%= f.label :お気に入りのユニット, class: "fav_team_text" %>
      <%= f.text_field :fav_team, placeholder: "ユニット名を入力", class: "fav_team_form" %>
      <%= f.label :お気に入りの選手, class: "fav_player_text" %>
      <%= f.text_field :fav_player, placeholder: "選手名を入力", class: "fav_player_form" %>
      <%= f.submit "登録", class: "fav_new_btn" %>
    <% end %>
  </div>
</div>