<%= render "shared/header" %>
<div class="main">
  <div class="user_show">
    <div class="user_name">
      <%= @user.nickname %>
    </div>
    <% if user_signed_in? && current_user.id == @user.id %>
      <div class="user_edit_menu">
        <%= link_to "ユーザー編集", edit_user_registration_path, class: "edit_btn" %>
        <% if @user.favorite.nil? %>
          <%= link_to "お気に入り登録", new_user_favorite_path(params[:id]), class: "edit_btn" %>
        <% else %>
          <%= link_to "お気に入り編集", "#", class: "edit_btn" %>
        <% end %>
      </div>
    <% end %>
    <div class="user_fav">
      <div class="fav_team_title">
        お気に入りのチーム
      </div>
      <div class="fav_team">
        <% if @user.favorite.present? %>
          <%= @user.favorite.fav_team %>
        <% else %>
          未登録
        <% end %>
      </div>
    </div>
    <div class="user_fav">
      <div class="fav_player_title">
        お気に入りの選手
      </div>
      <div class="fav_player">
        <% if @user.favorite.present? %>
          <%= @user.favorite.fav_player %>
        <% else %>
          未登録
        <% end %>
      </div>
    </div>
  </div>
</div>