<div class="match_make">
  <div class="match_make_header">
    <div class="game_number">
      第<%= match.game_number %>試合
    </div>
  </div>
  <div class="match_make_main">
    <div class="player_list">
      <div class="player_name">
        <%= match.team_a_player %>
      </div>
      <div class="player_name">
        <%= match.team_a_player2 %>
      </div>
      <div class="player_name">
        <%= match.team_a_player3 %>
      </div>
      <div class="player_name">
        <%= match.team_a_player4 %>
      </div>
      <div class="player_name">
        <%= match.team_a_player5 %>
      </div>
    </div>
    <div class="versus">VS</div>
    <div class="player_list">
      <div class="player_name">
        <%= match.team_b_player %>
      </div>
      <div class="player_name">
        <%= match.team_b_player2 %>
      </div>
      <div class="player_name">
        <%= match.team_b_player3 %>
      </div>
      <div class="player_name">
        <%= match.team_b_player4 %>
      </div>
      <div class="player_name">
        <%= match.team_b_player5 %>
      </div>
    </div>
  </div>
  <% if user_signed_in? && current_user.id == @room.id %>
    <div class="match_btn">
      <%= link_to "編集", "/rooms/#{params[:id]}/matches/#{match.id}/edit", class: "match_edit_destroy_btn" %>
      <%= link_to "削除", "/rooms/#{params[:id]}/matches/#{match.id}", method: :delete, class: "match_edit_destroy_btn" %>
    </div>
  <% end %>
</div>