<%= render "shared/header" %>
<div class="comments_index_main">
  <div class="match_column">
    <% if user_signed_in? && current_user.id == @room.user_id %>
      <div class="match_make_btn">
        <%= link_to "カード作成", new_room_match_path(params[:id]), class: "room_btn" %>
      </div>
    <% end %>
    
    <%= render partial: 'match', collection: @matches %>

  </div>
  <div class="center_column">
    <div class="movie_place">
      <div class="movie_place_instruction">※ここに配信画面を置いて下さい</div>
      <% if user_signed_in? && current_user.id == @room.user_id %>
        <div class="room_edit_destroy_btn">
          <%= link_to "ルーム編集", edit_room_path(params[:id]), class: "room_btn" %>
          <%= link_to "ルーム削除", room_path(params[:id]), method: :delete, class: "room_btn" %>
        </div>
      <% end %>
    </div>
    <div class="introduction_column">
      <div class="introduction_text">
        <%= @room.text %>
      </div>
    </div>
  </div>
  <div class="right_column">
    <div class="comment_column">

      <div id="list"></div>

      <% @comments.each do |comment| %>
        <div class="comment_post">
          <div class="comment_create">
            <%= comment.created_at.strftime("%H:%M") %>
          </div>
          <%=link_to comment.user.nickname, user_path(comment.user.id), class: "comment_nickname" %>
          <div class="comment_content">
            <%= comment.content %>
          </div>
          <% if user_signed_in? && current_user.id == comment.user_id %>
            <%= link_to "削除", room_comment_path(params[:id]), method: :delete, class: "comment_option_btn hidden" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="comment_form">
      <% if user_signed_in? %>
        <%= form_with model: [@room, @comment], class: "form", id: "form" ,local: true do |f| %>
          <div class="form">
            <%= f.text_field :content, placeholder: "コメントを入力", class: "comment_input", id: "content" %>
            <%= f.submit '送信', class: "comment_send", id: "comment_btn" %>
          </div>
        <% end %>
      <% else %>
        <div class="no_form_text">コメントをするにはログイン、または新規登録して下さい</div>
      <% end %>
    </div>
  </div>
</div>
