<%= render "shared/header" %>
<div class="comments_index_main">
  <div class="match_column">
    <div class="match_make">
      <div class="match_make_header">
        <div class="game_number">第1試合</div>
      </div>
      <div class="match_make_main">
        <div class="player_list">
          <div class="player_name">YOH</div>
        </div>
        <div class="versus">VS</div>
        <div class="player_list">
          <div class="player_name">SHO</div>
        </div>
      </div>
    </div>
    <div class="match_make">
      <div class="match_make_header">
        <div class="game_number">第2試合</div>
      </div>
      <div class="match_make_main">
        <div class="player_list">
          <div class="player_name">ロッキー・ロメロ</div>
          <div class="player_name">田口 隆祐</div>
          <div class="player_name">棚橋 弘至</div>
        </div>
        <div class="versus">VS</div>
        <div class="player_list">
          <div class="player_name">エル・ファンタズモ</div>
          <div class="player_name">石森 太二</div>
          <div class="player_name">KENTA</div>
        </div>
      </div>
    </div>
    <div class="match_make">
      <div class="match_make_header">
        <div class="game_number">第3試合</div>
      </div>
      <div class="match_make_main">
        <div class="player_list">
          <div class="player_name">BUSHI</div>
          <div class="player_name">SANADA</div>
          <div class="player_name">内藤 哲也</div>
        </div>
        <div class="versus">VS</div>
        <div class="player_list">
          <div class="player_name">ウィル・オスプレイ</div>
          <div class="player_name">グレート-O-カーン</div>
          <div class="player_name">ジェフ・コブ</div>
        </div>
      </div>
    </div>
    <div class="match_make">
      <div class="match_make_header">
        <div class="game_number">第4試合</div>
      </div>
      <div class="match_make_main">
        <div class="player_list">
          <div class="player_name">柴田 勝頼</div>
        </div>
        <div class="versus">VS</div>
        <div class="player_list">
          <div class="player_name">成田 蓮</div>
        </div>
      </div>
    </div><div class="match_make">
      <div class="match_make_header">
        <div class="game_number">第5試合</div>
      </div>
      <div class="match_make_main">
        <div class="player_list">
          <div class="player_name">石井 智宏</div>
        </div>
        <div class="versus">VS</div>
        <div class="player_list">
          <div class="player_name">"キング・オブ・ダークネス"EVIL</div>
        </div>
      </div>
    </div>
    <div class="match_make">
      <div class="match_make_header">
        <div class="game_number">第6試合</div>
      </div>
      <div class="match_make_main">
        <div class="player_list">
          <div class="player_name">YOSHI-HASHI</div>
          <div class="player_name">後藤 洋央紀</div>
        </div>
        <div class="versus">VS</div>
        <div class="player_list">
          <div class="player_name">ザック・セイバーJr.</div>
          <div class="player_name">タイチ</div>
        </div>
      </div>
    </div>
    <div class="match_make">
      <div class="match_make_header">
        <div class="game_number">第7試合</div>
      </div>
      <div class="match_make_main">
        <div class="player_list">
          <div class="player_name">高橋 ヒロム</div>
        </div>
        <div class="versus">VS</div>
        <div class="player_list">
          <div class="player_name">エル・デスペラード</div>
        </div>
      </div>
    </div>
    <div class="match_make">
      <div class="match_make_header">
        <div class="game_number">第8試合</div>
      </div>
      <div class="match_make_main">
        <div class="player_list">
          <div class="player_name">鷹木 信悟</div>
        </div>
        <div class="versus">VS</div>
        <div class="player_list">
          <div class="player_name">オカダ・カズチカ</div>
        </div>
      </div>
    </div>
  </div>
  <div class="center_column">
    <div class="movie_place">
      <div class="movie_place_instruction">※ここに配信画面を置いて下さい</div>
      <% if user_signed_in? && current_user.id == @room.user_id %>
        <div class="room_edit_destroy_btn">
          <%= link_to "ルーム編集", edit_room_path(params[:id]), class: "room_edit_btn" %>
          <%= link_to "ルーム削除", room_path(params[:id]), method: :delete, class: "room_destroy_btn" %>
        </div>
      <% end %>
    </div>
    <div class="introduction_column">
      <div class="introduction_text">
        <%= @room.text %>
      </div>
    </div>
  </div>
  <div class="right_column">
    <div class="comment_column">

      <div id="list"></div>

      <% @comments.each do |comment| %>
        <div class="comment_post">
          <div class="comment_create">
            <%= comment.created_at.strftime("%H:%M") %>
          </div>
          <div class="comment_nickname">
            <%= comment.user.nickname %>
          </div>
          <div class="comment_content">
            <%= comment.content %>
          </div>
          <% if user_signed_in? && current_user.id == comment.user_id %>
            <%= link_to "削除", room_comment_path(params[:id]), method: :delete, class: "comment_option_btn hidden" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="comment_form">
      <% if user_signed_in? %>
        <%= form_with model: [@room, @comment], class: "form", id: "form" ,local: true do |f| %>
          <div class="form">
            <%= f.text_field :content, placeholder: "コメントを入力", class: "comment_input", id: "content" %>
            <%= f.submit '送信', class: "comment_send", id: "comment_btn" %>
          </div>
        <% end %>
      <% else %>
        <div class="no_form_text">コメントをするにはログイン、または新規登録して下さい</div>
      <% end %>
    </div>
  </div>
</div>
